@import url('https://fonts.cdnfonts.com/css/chomsky');

body{
    background-image: url("../imagens/backgd.jpg");
    background-size:cover;
}

a:link{
    color:brown;
}
a:visited{
    color:brown;
}
a:hover{
    color:black;
}

.titulo{
    
    font-family:'Chomsky',sans-serif;
    font-size:100px;
}

.since{
    font-family:'Chomsky',sans-serif;
    font-size:15px;
}

.tabela{
    color:black;
    font-family:'Times New Roman', Times, serif;
    text-transform:uppercase;
    text-decoration: none;
}

.manchete{
    color:black;
    font-family:'Times New Roman', Times, serif;
    text-transform:uppercase;
    font-weight:bold;
    font-size:30px
}

.texto{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}

.contatos{
    color:black;
}
